<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      @Styles.Render("~/Content/css")
</head>
<body style="background-color: white;">

    <nav class="navbar fixed-top navbar-light bg-dark">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("LogPack", "Index", "Home", new { area = "" }, new { @class = "navbar-brand white" })
            </div>
            <button button type="button" class="btn btn-dark">@Html.ActionLink("Rastreo", "About", "Home")</button>
            <button button type="button" class="btn btn-dark">@Html.ActionLink("Sucurssales", "Contact", "Home")</button>
            <button button type="button" class="btn btn-dark">@Html.ActionLink("Iniciar Sesion", "Login", "Login")</button>

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LOGPACK SA DE CV.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

